{% comment %} 
the whole webshop structure. 
includes the header newsletter and footer, that runs throughout the site.
it is wrapping the main content: content for layout is defined in templates. depending on which template we use.
{% endcomment %}

<html>
    <head>
        {% style %}
          {{settings.font_main | font_face: font_display: 'swap'}}
          {{settings.font_menu | font_face: font_display: 'swap'}}
          /* font needs to be used in theme.css to be applied. also defined in settings_schema.json */
            :root {
                --font-main--family: '{{ settings.font_main }}, {{ settings.font_main.fallback_family }}';
                --font-menu--family: '{{ settings.font_menu }}, {{ settings.font_menu.fallback_family }}';
            }   
        {% endstyle %}
        {% comment %} loading the general styles, that needs to be used on the whole site {% endcomment %}
          {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}

         {{ content_for_header }}
    </head>
    <body>
        {% sections 'header-group' %} 
        
        {% comment %} in templates/index.json we define the content that will be shown here {% endcomment %}
        {{ content_for_layout }}

        {% section 'newsletter' %}
        {% section 'footer' %}
    </body>
</html>
